ion-content,
ion-list,
ion-item {
  --background: var(--ion-color-dark);
  --ion-background-color: var (--ion-color-dark);
}

ion-img {
  width: 85%;
  padding-left: 15%;
}

h6 {
  font-size: 11px;
  font-weight: 200;
}

.modal {
  background-color: rgba(255, 255, 255, 0.95);

  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 100%;
  padding: 1rem 2rem;
  a {
    color: #bf0222;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(32px);
    background-color: rgb(255 255 255 / 7%);
  }
  .warning {
    display: none;
  }
}

.bgbox {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-col#captionbox {
  padding: 25px;
}

ion-img#mox {
  filter: drop-shadow(2px 4px 6px black);
}